/** Styles to add uniformity to the page **/
html {
  height: 100%;
  width: 100%;
}

div,
p,
h3 {
  font-size: 1.2em;
  font-family: sans-serif;
}

.parentDiv {
  background-color: lightcoral;
}

.parentAbsolute {
  position: absolute;
}

p {
  background-color: lightblue;
}

/** End uniformity section **/

.textAlignCenter {
  text-align: center;
}

.textAlignJustify {
  text-align: justify;
}

.textAlignStart {
  text-align: start;
}

.textAlignEnd {
  text-align: end;
}

.fontWeightBold {
}

.fontWeightBolder {
}

.fontWeightNormal {
}

.fontWeightLighter {
}

.fontWeightNumeric {
  /* set the weight to 900 */
}

.height400 {
  background-color: lightblue;
}

.width200 {
  background-color: lightblue;
}

.verticalAlignBaseline {
}

.verticalAlignTop {
}

.verticalAlignMiddle {
}

.verticalAlignBottom {
}

.paddingAllFour {
  background-color: lightblue;
  border: 1px solid black;
}

.marginAllFour {
  background-color: lightblue;
  border: 1px solid black;
}

.positionSticky {
  top: 200px;
  position: sticky;
}

.positionFixed {
  top: 40%;
  left: 200px;
  position: fixed;
}

.positionAbsolute {
  top: 10%;
  left: 25%;
  position: absolute;
}

.positionRelative {
  top: 40px;
  left: 200px;
  position: relative;
}
